/* ------------------------------------ */
/* --------INGRESO NO DESEADO---------- */
/* ------------------------------------ */
.youShallNotPass {
	position: absolute;
	top: 40%;
	text-align: center;
	color: #C81D25;
	font-size: calc(3vh + 3vw);
}

.mantenimiento {
	margin: calc(2vh + 2vw) auto;
	text-align: center;
	background-image: url("../img/404.gif");
	background-size: contain;
}

.mantenimiento p {
	margin: calc(2vh + 2vw) auto;
	font-size: calc(3vh + 3vw);
	color: #C81D25;
}

/* ------------------------------------ */
/* -----------TABLA USUARIOS----------- */
/* ------------------------------------ */

/* MAIN > TABLE(.TABLAUSUARIOS) */
.tablaUsuarios {
	margin: calc(1vw + 1vh) auto;
	text-align: center;
	border: 2px dashed #084D6E;
	max-width: 90vw;
}

/* MAIN > TABLE(.TABLAUSUARIOS) >THEAD */
.tablaUsuarios thead {
	border-bottom: 2px dashed #084D6E;
	font-weight: bold;
}

/* MAIN > TABLE(.TABLAUSUARIOS) > TBODY */
.tablaUsuarios tbody tr:nth-child(odd) {
	background-color: white;
}

.tablaUsuarios tbody tr:nth-child(even), .tablaUsuarios thead tr {
	background-color: #DDD;
}

/* MAIN > TABLE(.TABLAUSUARIOS) > TBODY > TR */
.tablaUsuarios tbody tr {
	border-top: 2px dashed #084D6E;
}

/* MAIN > TABLE(.TABLAUSUARIOS) > THEAD>TH/TBODY>TD */
.tablaUsuarios th, .tablaUsuarios td {
	vertical-align: middle;
	border-left: 2px dashed #084D6E;
}

/* MAIN > DIV(.CONTENEDOR) */
.contenedor {
	display: flex;
	justify-content: center;
}

/* ------------------------------------ */
/* --FORM REGISTRO DE USUARIOS NUEVOS-- */
/* ------------------------------------ */

/* MAIN > FORM(.REGISTROUSUARIO) */
.registroUsuario {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: calc(1vw + 1vh) auto;
	border: 2px dashed #084D6E;
	padding: calc(1vh + 1vw) 0;
}

/* MAIN > FORM(.REGISTROUSUARIO) > LABEL */
.registroUsuario label {
	display: block;
	margin: calc(0.5vh + 0.5vw) auto;
	text-align: center;
}

/* MAIN > FORM(.REGISTROUSUARIO) > LABEL > INPUT */
.registroUsuario input{
	margin: calc(0.5vh + 0.5vw) auto calc(1vh + 1vw);
	display: block;
}

/* MAIN > FORM(.REGISTROUSUARIO) > LABEL(FOR="ROL") */
.registroUsuario label > select {
	margin-bottom: calc(2vh + 2vw);
}

/* MAIN > FORM(.REGISTROUSUARIO) > INPUT(.BTNADMIN) */
.btnAdmin {
	margin-bottom: calc(1.5vh + 1.5vw);
}

/* ------------------------------------ */
/* -TABLA INGRESO RECEPCION DE PIEZAS-- */
/* ------------------------------------ */
.recepcionPzas {
	margin: calc(1vw + 1vh) auto;
	text-align: center;
}

.pedido {
	margin: calc(1vh + 1vw);
	text-decoration: underline;
	font-size: calc(1.25vh + 1.25vw);
	text-align: left;
}

.recepcionPzasTabla {
	border-collapse: collapse;
}

.recepcionPzasTabla td, .recepcionPzasTabla th {
	border: 1px solid #000;
  text-align: left;
  padding: 8px;
  vertical-align: middle;
}

.recepcionPzasTabla tr:nth-child(even) {
  background-color: #dddddd;
}

.recepcionPzasTabla th:nth-child(odd) {
	text-align: center;
}

.recepcionPzasTabla td input {
	border: none;
	background-color: none;
}

.btnIngresarPedido {
	margin: calc(1vh + 1vw) auto;
}