/* ------------------------------------ */
/* ----------------MAIN---------------- */
/* ------------------------------------ */
.logueo {
	margin: calc(3vw + 3vh) auto;
	border: 2px dashed #084D6E;	
	padding: calc(1.5vh + 1.5vw);
}

.logueo label {
	display: block;
	margin: auto;
	margin-bottom: calc(1.5vh + 1.5vw);
	text-align: center;
}

.logueo input{
	margin: calc(0.5vh + 0.5vw) auto calc(1vh + 1vw);
	display: block;
}